{% assign filter = block.settings.filter_title | default: block.settings.bundle_title %}
{% assign selected_products = block.settings.products %}

<div class="product-bundle-block" {{ block.shopify_attributes }} data-filter-title="{{ filter }}" data-filter-id="{{ filter | handleize }}">
  {%- if block.settings.bundle_title != blank -%}
    <div class="product-bundle-block__title">
      <h3>{{ block.settings.bundle_title }}</h3>
    </div>
  {%- endif -%}

  {%- if block.settings.bundle_description != blank -%}
    <div class="product-bundle-block__description">
      {{ block.settings.bundle_description }}
    </div>
  {%- endif -%}

  <div class="product-bundle-block__products" style="--products-row-per-view: {{ block.settings.products_row_per_view |  default: 2 }};">
    {%- if selected_products != blank -%}
      {%- for prod in selected_products -%}
        <div class="product-bundle-card" {{ block.shopify_attributes }}>
          <div class="product-bundle-card__inner">
            <a href="{{ prod.url }}" class="product-bundle-card__media">
              {%- if prod.featured_image != blank -%}
                <img
                  src="{{ prod.featured_image | image_url: width: 600 }}"
                  alt="{{ prod.title | escape }}"
                  width="{{ prod.featured_image.width }}"
                  height="{{ prod.featured_image.height }}"
                  loading="lazy"
                >
              {%- endif -%}
            </a>
            <div class="product-bundle-card__info">
              <a href="{{ prod.url }}" class="product-bundle-card__title">{{ prod.title }}</a>
              <div class="product-bundle-card__price">
                {%- if prod.compare_at_price > prod.price -%}
                  <span class="product-bundle-card__price--sale">{{ prod.price | money }}</span>
                  <span class="product-bundle-card__price--regular">{{ prod.compare_at_price | money }}</span>
                {%- else -%}
                  <span class="product-bundle-card__price--sale">{{ prod.price | money }}</span>
                {%- endif -%}
              </div>
            </div>
            <div class="product-bundle-card__buttons">
              <button
                type="button"
                class="product-bundle-card__button product-bundle-card__button--details"
                data-product-url="{{ prod.url | append: '?view=popup' }}"
                data-product-handle="{{ prod.handle }}">
                PRODUCT DETAILS
              </button>
              {%- if prod.available -%}
                <form action="{{ routes.cart_add_url }}" method="post" enctype="multipart/form-data" class="product-bundle-card__form">
                  <input type="hidden" name="id" value="{{ prod.selected_or_first_available_variant.id }}">
                  <input type="hidden" name="quantity" value="1">
                  <button type="submit" class="product-bundle-card__button product-bundle-card__button--add">
                    ADD TO BAG
                  </button>
                </form>
              {%- else -%}
                <button disabled class="product-bundle-card__button product-bundle-card__button--add product-bundle-card__button--disabled">
                  SOLD OUT
                </button>
              {%- endif -%}
            </div>
          </div>
        </div>
      {%- endfor -%}
    {%- else -%}
      {%- for child_block in block.blocks -%}
        {% render child_block %}
      {%- endfor -%}
    {%- endif -%}
  </div>
  {% if block.settings.display_view_more %}
    <div class="product-bundle-block__view-more-container">
      <button class="product-bundle-block__view-more" data-filter="{{ filter | handleize }}">View More</button>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Products Bundle",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "bundle_title",
      "label": "Bundle Title",
      "default": "Save Up To 30% Off"
    },
    {
      "type": "text",
      "id": "filter_title",
      "label": "Filter title",
    },
    {
      "type": "richtext",
      "id": "bundle_description",
      "label": "Bundle Description"
    },
    {
      "type": "product_list",
      "id": "products",
      "label": "Products"
    },
    {
      "type": "checkbox",
      "id": "display_view_more",
      "label": "Display view more button",
      "default": false
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "products_row_per_view",
      "label": "Products Row Per View",
      "info": "This is the number of products per row on desktop",
      "options": [
        { "value": "2", "label": "2" },
        { "value": "3", "label": "3" }
      ],
      "default": "2"
    }
  ],
  "blocks": [
    {
      "type": "product-card"
    },
    {
      "type": "product-card-alt"
    },
    {
      "type": "collection-product-cards"
    }
  ],
  "presets": [
    {
      "name": "Products bundle",
    }
  ],
}
{% endschema %}
