<style>
  .ts-3-step-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #F3C8CF -120%, white 100%);
    text-align: center;
    align-items: center;
    padding: 40px 60px;
    gap: 20px;
  }

  .ts-steps-title {
    
  }  

  .ts-steps-subtitle {
    max-width: 700px;
  }

  .ts-steps-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }

  .ts-step-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 30%;
    max-width: 284px;
  }

  .ts-step-number {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #000000;
  }

  .ts-step-heading {
    font-size: 16pt;
  }

  .ts-step-body {
    font-style: italic;
  }

  .ts-steps-container::before {
    content: '';
    position: absolute;
    top: 20px;
    left: calc(50px + 7%); /* Adjust percentage as needed */
    right: calc(50px + 7%); /* Adjust percentage as needed */
    height: 1px;
    background: transparent;
    border-top: 1.5px dashed #000000;
  }

  @media only screen and (max-width: 800px) {
    .ts-steps-container {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 50px;
    }

    .ts-step-column {
      width: 100%;
    }

    .ts-steps-container::before {
      display: none;
    }
  }
</style>

<section class="ts-3-step-container">
  <h2 class="ts-steps-title">{{ section.settings.heading }}</h2>
  <p class="ts-steps-subtitle">{{ section.settings.subheading }}</p>
  <div class="ts-steps-container">
    {% for block in section.blocks %}
      {% if block.type == "step" %}
        <div class="ts-step-column">
          <span class="ts-step-number">{{ block.settings.number }}</span>
          <h2 class="ts-step-heading">{{ block.settings.step-heading }}</h2>
          <p class="ts-step-body">{{ block.settings.step-text }}</p>
          {% if block.settings.step-richtext != blank %}
            <div class="ts-step-richtext">{{ block.settings.step-richtext }}</div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% for block in section.blocks %}
    {% if block.type == "button" %}
      {%-
        render 'button-block' with
        wrapper_class: "image-with-text-split__text-container-button section-blocks__button",
        link: block.settings.button_link,
        label: block.settings.button_label,
        button_style: "btn--primary",
        is_overlay: true,
        button_alignment: "center",
        buttons_can_inline: true,
        forloop: forloop
      -%}
    {% endif %}
  {% endfor %}
</section>

{% schema %}
  {
    "name": "TS 3 Steps",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "So Easy, It Feels Like Magic"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "No signups or codes. A simple 3-step process to save big on skincare and tools you love—in packable sizes."
      }
    ],
    "blocks": [
      {
        "type": "step",
        "name": "Step",
        "settings": [
          {
            "type": "text",
            "id": "number",
            "label": "Step number",
            "default": "1"
          },
          {
            "type": "text",
            "id": "step-heading",
            "label": "Step heading",
            "default": "Pick Your Minis"
          },
          {
            "type": "text",
            "id": "step-text",
            "label": "Step text",
            "default": "Choose any 3, 6, or 10 travel-size skincare or tool favorites."
          },
          {
            "type": "richtext",
            "id": "step-richtext",
            "label": "Step richtext"
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Click here"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "TS 3 Steps",
        "blocks": []
      }
    ]
  }
{% endschema %}